extends layout

block content
  .h-screen.w-full.text-white.flex.flex-col.items-center.justify-center.bg-cover.bg-center(style="background-image:url(images/bg.jpg); background-repeat: no-repeat;")
    .text-7xl.script Seraphin Stores
    .rounded-full.px-10.py-3.border-white.border-2.bg-transparent.text-white.transform.transition-all.duration-500.shadow-lg.cursor-pointer.font-extrabold(class="hover:shadow-2xl hover:scale-105 hover:bg-white hover:text-gray-900") Get Started
  .min-h-screen.mt-10.grid.grid-cols-1.gap-10(class="xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1")
    each food in foodlist
      a.shadow-xl.rounded.transform.duration-700.pb-2.flex.flex-col.bg-white.h-48.bg-cover.bg-center.bg-no-repeat.flex.items-center.script.text-5xl.text-white.justify-center(class="hover:scale-105 hover:shadow-2xl", style="background-image: url(/images/bg.jpg);", id=food.name, href=`/food/${food.name}`)= food.name
        //- img.object-cover.object-center.h-48.rounded-t-lg(src="/images/bg.jpg")
  //- p= api
  //- div(class='grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 px-10 mt-10')
  //-   each child in api.recipes
  //-     div(class='shadow border-2 border-gray-400 transform transition-all duration-500 hover:scale-105 hover:shadow-lg hover:bg-black hover:text-white')= child.title
